**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/env/
**/venv/
**/.venv/
**/build/
**/dist/
**/node_modules/
**/.git/
**/.gitignore
**/.DS_Store
**/.env
**/.env.*
**/.pytest_cache/
**/.mypy_cache/
**/.coverage
**/coverage.xml
**/.cache/
